<div id="<%= dom_id(employment) %>">
  <%= employment.title %>
  <%= employment.rating %>
  <%= employment.category.name %>
  <% if can? :destroy, employment %>
  <%= link_to "Delete", employment_path(employment),
                        method: :delete,
                        remote: true,
                        data: {confirm: "Are you sure?"} %>
  <% end %>
</div>
