<%= simple_form_for @employment, remote: true do |f| %>
  <div class="form-group">
    <%= f.input :job_title %>
  </div>
  <div class="form-group">
    <%= f.input :location %>
  </div>
  <div class="form-group">
    <%=
      f.input :start_year,
      order: [:month, :year],
      discard_hour: true,
      start_year: 1980,
      end_year: Date.today.year
    %>
  </div>
  <div class="form-group">
    <%=
      f.input :end_year,
      order: [:month, :year],
      discard_hour: true,
      start_year: 1980,
      end_year: Date.today.year
    %>
  </div>
  <div class="form-group">
    <%= f.input :summary %>
  </div>
  <div class="form-group">
    <%= f.input :company_name, :url => autocomplete_employment_company_name_employments_path, :as => :autocomplete %>
  </div>
  <div class="form-group">
    <%= f.input :company_link %>
  </div>



  <div class="form-group">
    <%= f.submit "Add Employment History", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
