<div id="employment-form">
<%= simple_form_for @employment, remote: true do |f| %>
    <%= f.input :job_title, label: false, placeholder: "Job Title" %>
    <%=
      f.input :start_year,
      order: [:month, :year],
      discard_hour: true,
      start_year: 1980,
      end_year: Date.today.year
    %>
    <%=
      f.input :end_year,
      order: [:month, :year],
      discard_hour: true,
      start_year: 1980,
      end_year: Date.today.year
    %>
    <br>
    <%= f.input :company_name,
      url: autocomplete_employment_company_name_employments_path,
      as: :autocomplete,
      label: false,
      placeholder: "Company Name" %>
    <%= f.input :location, label: false, placeholder: "Location" %>
    <%= f.input :company_link, label: false, placeholder: "Link to Company", wrapper_html: { class: 'wide' } %>
    <br>
    <%= f.input :summary, label: false, placeholder: "Job Description", wrapper_html: { class: 'wide' } %>
    <br>
    <%= f.submit class: "btn btn-primary btn-sm" %>
<% end %>
</div>
