
<%= simple_form_for @user do |f| %>

<div class="form-group">
  <%= f.input :first_name %>
</div>
<div class="form-group">
  <%= f.input :last_name %>
</div>
<div class="form-group">
  <%= f.input :email %>
</div>
<div class="form-group">
  <%= f.input :password %>
</div>
<div class="form-group">
  <%= f.input :password_confirmation, label: 'confirm password', class: 'group-control' %>
</div>
<div class="form-group">
  <%= f.input :summary %>
</div>
<div class="form-group">
  <%= f.input :description %>
</div>
<div class="form-group">
  <%= f.label 'Social Media' %>
  <%= f.input :linkedin, as: url %>
  <%= f.input :github, as: url %>
  <%= f.input :twitter, as: url %>
</div>
<div class="form-group">
  <%= f.input :is_available, label:'available?',  as: :check_boxes %>
</div>
<%= f.submit class: "btn btn-primary btn-sm" %>
<% end %>
