<h1>Profile</h1>
<div class="container-fluid">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>
        Skills
        <button id="toggle-skill-form" class="btn btn-warning btn-xs pull-right">
          Add Skills
        </button>
      </h4>
    </div>
    <div class="panel-body">
      <div class="skills">
        <% @user.skills.each do |skill| %>
          <%# becareful of the folder %>
          <%= render '/skills/skill', skill: skill %>
        <% end %>
      </div>
      <% if can? :manage, @user %>
          <%# byebug %>
          <%= render 'skills/form' %>
      <% end %>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>
        Projects
        <button id="toggle-project-form" class="btn btn-warning btn-xs pull-right">
          Add Projects
        </button>
      </h4>
    </div>
    <div class="panel-body">
      <div class="projects">
        <% @user.projects.each do |project| %>
          <%# becareful of the folder %>
          <%= render '/projects/project', project: project %>
        <% end %>
      </div>
      <% if can? :manage, @user %>
        <%= render 'projects/form' %>
      <% end %>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>Education
        <button id="toggle-education-form" class="btn btn-warning btn-xs pull-right">
          Add Education History
        </button>
      </h4>
    </div>
    <div class="panel-body">
      <div class="educations">
        <% @user.educations.each do |education| %>
          <%# becareful of the folder %>
          <%= render '/educations/education', education: education %>
        <% end %>
      </div>
      <% if can? :manage, @user %>
          <%= render 'educations/form' %>
      <% end %>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>
        Employment
        <button id="toggle-employment-form" class="btn btn-warning btn-xs pull-right">
          Add Employment History
        </button>
      </h4>
    </div>
    <div class="panel-body">
      <div class="employments">
        <% @user.employments.each do |employ| %>
          <%# be careful of the folder %>
          <%= render '/employments/employment', employment: employ %>
        <% end %>
      </div>
      <% if can? :manage, @user %>
        <%= render 'employments/form' %>
      <% end %>
    </div>
  </div>
</div>
