<div class="container">

  <% if @user.errors.full_messages.size > 0 %>
    <div class="notice alert alert-danger">
      <ul>
      <% @user.errors.full_messages.each do |error| %>
        <li><i class="fa fa-exclamation-triangle"></i> <%= error %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <%= @user.first_name %>'s Basic Info
    </div>

    <div class="panel-body">
        <%= simple_form_for @user, html: { multipart: true } do |f|%>
          <div class="row">

            <div class="col-md-4">
              <div class="row">
                <div class="form-group col-md-6">
                  <%= f.input :first_name %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.input :last_name %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <%= f.input :email %>
                </div>
              </div>
              <%# Seo edit inputs %>
              <div class="row">
                <div class="form-group col-md-12">
                  <%= f.input :twitter, label: "<i class='fa fa-twitter'></i> Twitter Username".html_safe, placeholder: "example: 'lidongning1108'" %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <%= f.input :linkedin, label: "<i class='fa fa-linkedin'></i> LinkedIn Username".html_safe, placeholder: "example: 'jennifer-li-51788156'" %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <%= f.input :github, label: "<i class='fa fa-github'></i> GitHub Username".html_safe, placeholder: "example: 'jennli'"  %>
                </div>
              </div>
            </div> <%# /col-4- %>

            <div class="col-md-8 basic-right-col">
              <div class="row">
                <div class="edit-summary col-xs-12">
                  <%= f.input :summary, :error => false, :input_html => {:maxlength => 140} %>
                </div>
              </div>
              <div class="row">
                <div class="edit-description col-xs-12">
                  <%= f.input :description, :input_html => {:maxlength => 500 } %>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <%= f.input :image, as: :file %>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <%= f.input :attachment, as: :file %>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <%= f.check_box :remove_image %>
                    Remove Image?
                  </div>
                  <div class="form-group">
                    <%= f.input :is_available, :as => :boolean %>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <%= f.button :submit %>
                    <%= link_to "Change password", user_password_path(@user), class:"btn btn-danger btn-sm"%>
                    <%= link_to "Cancel", user_path(@user), class:"btn btn-default btn-sm"%>
                  </div>
                </div>
              </div>
            </div> <%# /col-md-8 %>
          </div>
        <% end %>
    </div> <!-- / Panel-body -->
  </div> <!--/ Panel-->


</div>
