<div class="container">

  <h1>Edit User Profile</h1>

  <% if @user.errors.full_messages.size > 0 %>
  <div class="notice">
    <%= @user.errors.full_messages.join(",") %>
  </div>
  <% end %>
  <div>
    <%= form_for @user do |f|%>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :summary %>
      <%= f.text_area :summary, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label 'Social Media' %>
      <br>
      <%= f.label 'Linkedin' %>
      <%= f.url_field :linkedin %>
      <%= f.label 'Github' %>
      <%= f.url_field :github %>
      <%= f.label 'Twitter' %>
      <%= f.url_field :twitter %>
    </div>

    <div class="form-group">
      <%= f.label "Available for recruiting?" %>
      <%= f.check_box :is_available %>
    </div>
    <div class="form-group">
      <%= f.lable "Image" %>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.submit class:"btn btn-info btn-sm" %>
      <%= link_to "Change password", user_password_path(@user), class:"btn btn-danger btn-sm"%>
      <%= link_to "Cancel", user_path(@user), class:"btn btn-default btn-sm"%>
    </div>
    <% end %>
  </div>
