<div class='container'>

  <% page_header "All Users" %>
  <% if user_signed_in? && current_user.admin %>
  <h1 style="text-align: center;"><%=link_to "Administrator Site", admin_path(get_admin_random_string), class: "btn btn-warning" %></h1>
  <hr>
  <% end %>

  <div class="row">
    <% @users.each do |u| %>
    <div class='col-xs-12 col-sm-6 col-md-3'>
      <div>
        <%=image_tag u.image.url(:medium), class: "user-dp center-block img-rounded" %>
        <h4><%= link_to u.full_name, u%></h4>
        <hr />
        <!-- (Account created: -->
        <!-- <%#= ((Time.now - u.created_at).to_i / (60*60*24*365.25)).to_i %> years and
        <%#= ((Time.now - u.created_at).to_i / (60*60*24)).to_i %> days ago) -->
      </div>
    </div>
    <% end %>
  </div>

  <div class="digg_pagination">
    <ul class="pager">
      <%= page_entries_info @users %>
    </ul>
    <div style="text-align:center;">
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  </div>
</div>
