<div class='container'>

  <% page_header "All Users" %>
  <% if user_signed_in? && current_user.admin %>
  <%=link_to "Administrator", admin_path(get_admin_random_string) %></li>
  <% end %>
  
  <% @users.each do |u| %>
  <div class='well'>
    <%= link_to u.full_name, u %> (Account created:
    <%= ((Time.now - u.created_at).to_i / (60*60*24*365.25)).to_i %> years and
    <%= ((Time.now - u.created_at).to_i / (60*60*24)).to_i %> days ago)
  </div>
  <% end %>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => false %>
  </div>
