<div class="container profile-container">
  <%# Stop Unapproved user from being viewed. %>
  <% if can? :view, @user %>

    <%= link_to "Email student", user_contact_path(@user), class: "btn btn-info"  %>
    <% if can? :manage, @user %>
      <%= link_to "Edit Account", edit_user_path(@user), class: "btn btn-info"  %>
    <% end %> 

    <div class="panel panel-info">
      <div class="panel-heading">
        <% if @user.approved %> Active
        <% else %>
          Pending.. You will be notified when your account is approved
        <%end  %>
      </div>

      <div class="panel-body">
        <div class="row">
          <section class="col-lg-3">
            <%=image_tag @user.image.url(:medium), class: "user-dp center-block img-rounded" %>
            <div class="row seo-icons center-block">
              <%# LinkedIn Icon %>
              <% unless @user.linkedin == nil %>
                <%= link_to @user.linkedin do %>
                  <i class="col-xs-4 text-center fa fa-linkedin-square fa-3x"></i>
                <% end %>
              <% end %>
              <%# Github Icon %>
              <% unless @user.github == nil %>
                <%= link_to @user.github do %>
                  <i class="col-xs-4 text-center fa fa-github-square fa-3x"></i>
                <% end %>
              <% end %>
              <%# Twitter Icon %>
              <% unless @user.twitter == nil %>
                <%= link_to @user.twitter do %>
                  <i class="col-xs-4 text-center fa fa-twitter-square fa-3x"></i>
                <% end %>
              <% end %>
            </div>
            <div class="available-box text-center">
              <% if @user.is_available%>
                <i class="fa fa-thumbs-up"></i>
                <p>Available</p>
              <% else %>
                <i class="fa fa-thumbs-down"></i>
                <p>Not available</p>
              <% end %>
            </div>
          </section>
          <section class="col-lg-9 summary-container">
        
              <h1 class="profile-name-header"><%= @user.full_name %></h1>
              <p><i class="fa fa-envelope"></i>&nbsp; <%= @user.email %></p>
              <p><i class="fa fa-file"></i>&nbsp; <%=link_to 'Resume', @user.attachment.url %></p>

            <p><em><%= @user.summary %></em></p>
            <p>
              <%= markdown(@user.description) %>
            </p>
          </section>
        </div>
      </div> <!-- /panel-body-->
    </div>
  <%= render "profile" %>
  <% end %>

</div>
