<div class="container">
  <div class="row">
    <div class="col-md-12" data-wow-delay="0.2s">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"><%=image_tag(@feature_users[0].image.url(:medium), class: "img-responsive", alt: "")%>
          </li>

          <li data-target="#quote-carousel" data-slide-to="1"> <%=image_tag(@feature_users[1].image.url(:medium), class: "img-responsive", alt: "")%>
          </li>

          <li data-target="#quote-carousel" data-slide-to="2"> <%=image_tag(@feature_users[2].image.url(:medium), class: "img-responsive", alt: "")%>
          </li>

        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner text-center">
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <p><%= @feature_users[0].description%></p>
                  <small><%= @feature_users[0].full_name %></small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                  <p><%= @feature_users[1].description %> </p>
                  <small><%=@feature_users[1].full_name %></small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <p><%= @feature_users[2].description %> </p>
                  <small><%=@feature_users[2].full_name %></small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>

        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
<hr>
<div style="text-align:center;">
  <h3><%= link_to "Available Users", user_filter_path(User::AVAILABLE), class: "landing-button" %> <%= link_to "All Users", users_path, class: "landing-button" %></h3>
</div>
