
<div class="container-full-bg">
  <div id='bg_image' style="background-image:url('http://i.imgur.com/bPqCZRP.jpg');">

  <div class="row landing-carousel-quotes">
    <div class="col-md-12" data-wow-delay="0.2s">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"><%=image_tag(@feature_users[0].image.url(:medium), class: "img-responsive", alt: "")%>
          </li>

          <li data-target="#quote-carousel" data-slide-to="1"> <%=image_tag(@feature_users[1].image.url(:medium), class: "img-responsive", alt: "")%>
          </li>

          <li data-target="#quote-carousel" data-slide-to="2"> <%=image_tag(@feature_users[2].image.url(:medium), class: "img-responsive", alt: "")%>
          </li>

        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner text-center">
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <p><%= @feature_users[0].description%></p>
                  <small><%= @feature_users[0].full_name %></small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                  <p><%= @feature_users[1].description %> </p>
                  <small><%=@feature_users[1].full_name %></small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <p><%= @feature_users[2].description %> </p>
                  <small><%=@feature_users[2].full_name %></small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>

        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
<hr>
<div style="text-align: right; padding-right:1%;">
<%= link_to 'Available Students <span class="glyphicon glyphicon-list-alt"></span>'.html_safe, user_filter_path(User::AVAILABLE), class: "btn btn-lg btn-danger" %>
<%= link_to 'Browse All Students <span class="glyphicon glyphicon-list"></span>'.html_safe, users_path, class: "btn btn-lg btn-danger" %>

  <div style="text-align: left; padding-left:1%; margin-top: 0%;">
    <a href="https://www.facebook.com/CodeCoreBootcamp/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    <a href="https://twitter.com/CodeCoreYVR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
    <a href="https://plus.google.com/+CodecoreCaBootcamp/about"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
    <a href="https://codecore.ca/program_applications/new"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
  </div>

</div>
