  <div id="<%= dom_id(project) %>" class="container-fluid">
    <div class="col-lg-12"><h3><%= project.title %></h3></div>
    <div class="col-lg-1"><%= link_to "Project Link", "#{project.project_link} "%></div>
    <div class="col-lg-1"><%= link_to (fa_icon "github")+"GitHub Link", "#{project.github_link}" %></div>
    <div class="col-lg-12">
        <div class="col-lg-1 grey">Description: </div>
        <div class="col-lg-11"><%= project.description %></div>
    </div>
    
    <div class="col-lg-1"></div>
    
    <div class="col-lg-12">
      <% if can? :destroy, project %>
        <%= link_to "Edit", edit_project_path(project), remote: true, class: "btn btn-primary btn-sm" %>
        <%= link_to "Delete", project_path(project),
                              method: :delete,
                              remote: true,
                              class: "btn btn-danger btn-sm",
                              data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>

  </div>
