<%# 
school_name
school_link
grade_year
level
field
 %>

<div id="<%= dom_id(education) %>">
  <%= education.school_name %>
  <%= education.school_link %>
  <%= education.grade_year %>
  <%= education.level %>
  <%= education.field %>
  <% if can? :destroy, education %>
  <%= link_to "Delete", education_path(education),
                        method: :delete,
                        remote: true,
                        data: {confirm: "Are you sure?"} %>
  <% end %>
</div>
