<%# 
school_name
school_link
grade_year
level
field
 %>

<div id="<%= dom_id(education) %>">
  <%= education.title %>
  <%= education.rating %>
  <%= education.category.name %>
  <% if can? :destroy, education %>
  <%= link_to "Delete", user_education_path(@user, education),
                        method: :delete,
                        remote: true,
                        data: {confirm: "Are you sure?"} %>
  <% end %>
</div>
