<div id="education-form">
  <%= simple_form_for @education, remote: true do |f| %>

    <%= f.input :school_name, label: false, placeholder: "School Name" %>
    <%= f.input :level, as: :select, collection: Education::VALID_EDUCATION_LEVELS, label: false, include_blank: "Select Level" %>
    <%= f.input :field, label: false, placeholder: "Field of Study" %>
    <%= f.input :school_link, label: false, placeholder: "Link to the School", wrapper_html: { class: 'wide' } %>
    <%= f.input :grade_year, order: [:month, :year], discard_hour: true, start_year: 1980, end_year: Date.today.year, label: "Graduation Year" %>
    <%= f.submit class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
